<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451866228695-kn3s3c9bcr4g9gllpbmcouksevktchbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451866228695-kn3s3c9bcr4g9gllpbmcouksevktchbd</string>
	<key>API_KEY</key>
	<string>AIzaSyCzHLcQgxDxbtGRP37MFGRBYpH7-1vuj0c</string>
	<key>GCM_SENDER_ID</key>
	<string>451866228695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatify</string>
	<key>PROJECT_ID</key>
	<string>chatify-c55f9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-c55f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451866228695:ios:2c92535892ac7fcee23d92</string>
</dict>
</plist>